<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingRoom"
        tools:targetApi="31">

        <!-- Bạn có thể xoá dòng này nếu không dùng Maps SDK nữa -->
        <!--
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDp6I5SkORGtCD1xoXgs0lHbD0qHU4Bpgc" />
        -->

        <activity android:name=".ui.packages.PackageDetailActivity" android:exported="false" />
        <activity android:name=".ui.packages.PackagesListActivity" android:exported="false" />
        <activity android:name=".ui.auth.ProfileActivity" android:exported="false" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.map.MapActivity" android:exported="false" />
        <activity android:name=".ui.MainActivity" android:exported="false" />
        <activity android:name=".ui.auth.EditProfileActivity" android:exported="false" />

        <activity android:name=".ui.auth.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
